In [1]:
import requests
import bs4
import numpy as np
import pandas as pd

In [2]:
result = requests.get("https://en.wikipedia.org/wiki/List_of_countries_by_homeless_population")
soup = bs4.BeautifulSoup(result.text, "lxml")
table = soup.select('table')
body = table[1].select('tbody')
rows = body[0].select('tr')
rows = rows[2:]

In [3]:
rows.pop(116)
countries = np.empty([len(rows),2], dtype=object)
raw_data = np.empty([len(rows),2],np.float64)
raw_data[:] = np.nan

In [4]:
%xmode Verbose
for row in range(len(rows)):

        countries[row,0] = rows[row].select('a')[0].getText()[:-2]
        countries[row,1] = rows[row].select('a')[1].getText()
        
        element = 2
        column = 0

        while(column<2):
            field = str(rows[row].select('td')[element].getText())
            if(field=="—"):
                element+=1
            else:
                try:
                    raw_data[row,column] = np.float64(field.replace(",",""))
                    element+=1
                    column+=1
                except ValueError as e:
                    raw_data[row,column] = np.float64(field.replace(",","")[-4:])
                    print(e.args)
                    element+=1
                    column+=1

Exception reporting mode: Verbose
("could not convert string to float: '[n 2]2022'",)

In [5]:
countries_df = pd.DataFrame(countries)
data_df = pd.DataFrame(raw_data)
all_data = pd.concat((countries_df,data_df),axis=1)

In [6]:
all_data.columns = ['Countries', 'UN_Region', 'GPD_per_capita', 'Year']
all_data

                    Countries UN_Region  GPD_per_capita    Year
0                      Monaco    Europe        190513.0  2019.0
1               Liechtenstein    Europe        180367.0  2018.0
2                  Luxembourg    Europe        140694.0  2022.0
3                   Singapore      Asia        131580.0  2022.0
4                     Ireland    Europe        124596.0  2022.0
..                        ...       ...             ...     ...
224                   Somalia    Africa          1322.0  2022.0
225                  DR Congo    Africa          1316.0  2022.0
226  Central African Republic    Africa          1102.0  2022.0
227               South Sudan    Africa           928.0  2022.0
228                   Burundi    Africa           856.0  2022.0

[229 rows x 4 columns]

In [7]:
all_data.to_csv('WorldWideGPD')