In [1]:
import requests
import bs4
import numpy as np
import pandas as pd

In [2]:
result = requests.get("https://en.wikipedia.org/wiki/List_of_countries_by_homeless_population")
soup = bs4.BeautifulSoup(result.text, "lxml")
table = soup.select('table')
body = table[0].select('tbody')
rows = body[0].select('tr')
rows = rows[1:]

In [3]:
countries = []
raw_data = np.empty([len(rows),2],np.float64)
raw_data[:] = np.nan

In [4]:
for row in range(len(rows)):

        countries.append(rows[row].select('a')[0].getText())
        
        raw_data[row, 0] = np.float64(rows[row].select('td')[3].getText())
        raw_data[row, 1] = np.float64(rows[row].select('td')[2].getText()[:4])

In [5]:
countries_df = pd.DataFrame(countries)
data_df = pd.DataFrame(raw_data)
all_data = pd.concat((countries_df,data_df),axis=1)

In [6]:
all_data.columns = ['Countries', 'Homeless_per_10k', 'Year']
all_data

         Countries  Homeless_per_10k    Year
0      Afghanistan            1180.0  2020.0
1        Australia              49.1  2016.0
2          Austria              25.4  2019.0
3       Azerbaijan             725.0  2020.0
4       Bangladesh             307.0  2019.0
..             ...               ...     ...
83  United Kingdom              54.4  2019.0
84   United States              17.6  2020.0
85           Yemen            1294.0  2020.0
86         Vietnam              16.6  2020.0
87        Zimbabwe             848.0  2013.0

[88 rows x 3 columns]

In [7]:
all_data.to_csv('WorldWideHomeless')